


#html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
    /* Độ Ưu Tiên màu chữ */
}

.text-center {
    text-align: center !important;
}


#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;

}

.row {
    margin-right: -8px;
    margin-left: -8px;
}

.col {
    padding-right: 8px;
    margin-left: 8px;
    float: left;
}

.col-full {
    width: 98%;
}

.col-half {
    width: 44%;
}

.col-third {
    width: 33.33333%;
}

#nav {
    display: inline-block
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 28px;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav li:hover,
#nav > li:hover > a {
    color: #000;
    background-color: #ccc;

}


#nav .subnav {
    display: none;
    min-width: 160px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#nav .subnav a {
    color: #000;
    padding: 0 20px;
    line-height: 40px;

}

#nav .nav-more-down {
    font-size: 14px;
}

#header .search-btn {
    float: right;
    padding: 0 20px;
    cursor: pointer;
    /* cursor: pointer là cứ di chuột vào là hiện hiệu ứng */
}

#header .search-btn:hover {
    background-color: #f44336;
}

#header .search-icon {
    color: #fff;
    font-size: 21px;
    line-height: 46px;
}

#silder {
    
}

#silder .text-content {
    position: relative; 
    width: 100%;
    
}

#silder .text-heading {
    position: absolute;
    text-align: center;
    bottom: 10%;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    margin-left: 45%;
}

#silder .text-description {
    position: absolute;
    text-align: center;
    color: #fff;
    font-size: 15px;
    bottom: 7%;
    margin-top: 25px;
    margin-left: 45%;
}

#content {
    
}

#content .content-section {
    text-decoration: none;
    width: 800px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;

}


#content .content-heading {
    text-align: center;
    font-size: 30px;
    font-weight: 550;
    /* font-weight: Độ Dày Của Chữ 200 -> 800 */
    letter-spacing: 3px; 
    /* letter-spacing: Chiều Rộng Của chữ  */
}

#content .content-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    /* margin-top: Chiều cao Của Dòng  */
    font-style: italic;
    /* font-style: italic Chỉnh Chữ Ngiêng */
    opacity: 0.6;
    /* opacity: Độ mờ của chữ - tối đa từ 0 - 1 */

}

#content .about-text {
    font-size: 15px;
    text-align: justify;
    margin-top: 20px;
    line-height: 1.4;
    /* line-height: Chỉnh Chiều Cao Của Dòng  - từ 1 - 2*/
}

#content .team {
    padding-top: 48px;
    /* overflow: hidden; fix lên mạng học lại */
}

#content .member-item {
    float: left;
    width: 33.33333%;
    /* float: left; Giúp cho thẻ giống nhau đẩy sang phải thay vì nhảy xuống dưới */
    /* width: 33.33333%; chia ảnh làm ba cho đều theo tỉ lệ 100% : 3 = 33.33333%*/
    /* width: calc(100% / 3); cũng tương tự ở trên */
    text-align: center;

}

#content .member-name {
    font-size: 15px;
    color :#f44336
}

#content .member-band {
    margin-top: 15px;
    width: 270px;
    border-radius: 4px;

}

.tour-section {
    background-color: #000;

}

.tickets-list {
    background-color: #fff;
    list-style: none;
    margin-top: 40px;
}

.tickets-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity {
    background-color: #000;
    color: #fff;
    float: right;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    margin-top: -3px;
    
}

/* Places - section */

.places-list {
    /* margin-top: có thể ghi tắt là mt + tab */
    margin-top: 32px;
    padding-bottom: 48px;
    
}



.places-item {
    width: calc(94% / 3);
}


.places-img {
    width: 100%;
    display: block;
}

.places-img:hover {
    opacity: 0.5;

}

.places-body {
    padding: 16px;
    font-size: 15px;
    background-color: #fff;
}



.places-heading {
    font-weight: 550;
}



.places-time {
    margin-top: 15px;
    color: #757575;
}



.places-desc {
    margin-top: 15px;
    line-height: 1.4;
    font-weight: 500;
}

.places-buy-btn {
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 11px 18px;
    display: inline-block;
    margin-top: 15px;
    cursor: pointer;
}

.places-buy-btn:hover {
    background-color: #ccc;
    color: #000;
}

/* Contact - form */

.contract-name {
    width: 45%;
}

.contact-form {
    margin-top: 48px;

}


.contact-forms {
    padding: 10px;

}

.contact-info {
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
    margin-top: -20px;
}

.contact-info p i {
    width: 30px;
    display: inline-block;
}


.img-section {
    width: 100%;
}
    

/* Footer - section */
#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list {
    font-size: 24px;
}

#footer .socials-list a {
    color: #757575;
    text-decoration: none;
}

#footer .socials-list a:hover {
    opacity: 0.8;
}

#footer .copyright {
    font-size: 15px;
    margin-top: 15px;
}

#footer .copyright a {
    color: #757575;
    text-decoration: none;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    opacity: 0.9;
    font-size: 20px;

}

.modal-close:hover {
    opacity: 0.1;
}

.modal-header {
    color: #fff;
    background-color:#99CC99;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;

}

.modal .modal-sell {
    margin-right: 16px;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 98%;
    padding:  10px;
    font-size: 15px;
    margin-bottom: 24px;
}

#buy-tickets {
    background-color: #99CC99;
    border: none;
    width: 100%;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;
}

#buy-tickets:hover {
    opacity: 0.9;
}

.modal-footer {
    text-align: right;
    padding: 16px;
}

.modal-footer a {
    color: #2196F3;
}

.places-img{
    height: 300px;
}

.places-body{
    text-align: center;
}


